/EjemploClaseP1/nbproject/private/
/EjemploClaseP1/build/
/EjemploClaseP1/dist/
/Videclub/nbproject/private/
/Videclub/build/
/EjemploClaseP2/nbproject/private/
/Videoclub/nbproject/private/
/ClaseRepaso/nbproject/private/
/ClaseRepaso/build/
/CampeonatoFutbol/nbproject/private/
/CampeonatoFutbol/build/
/Agenda/nbproject/private/
/Agenda/build/
/Agenda/dist/
/Agenda3Ventanas/nbproject/private/
/Agenda3Ventanas/build/
/Empresa/nbproject/private/
/Empresa/build/
/EjemploJTable1/nbproject/private/
/EjemploJTable1/build/
/Consultorio/nbproject/private/
/Consultorio/build/
/DivisionPolicial/nbproject/private/
/DivisionPolicial/build/
/DivisionPolicial/dist/
/ServiciosTelecomunicaciones/nbproject/private/
/ServiciosTelecomunicaciones/build/